
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/misc.xml
.idea/MRI_Reliability.iml
.idea/vcs.xml
.ipynb_checkpoints/Reliability_calcs-checkpoint.ipynb
Reliability_calcs.ipynb
tests/__pycache__/test_similarity_ref.cpython-38-pytest-7.2.0.pyc
imgreliability/__pycache__/calc_image_similarity.cpython-38.pyc
imgreliability/__pycache__/brain_icc.cpython-38.pyc
imgreliability/__pycache__/icc.cpython-310.pyc
imgreliability/__pycache__/icc.cpython-38.pyc
imgreliability/__pycache__/tetrachoric_correlation.cpython-38.pyc
.idea/workspace.xml
imgreliability/__pycache__/similarity.cpython-38.pyc
imgreliability/__pycache__/__init__.cpython-38.pyc
pyrelimri/__pycache__/brain_icc.cpython-38.pyc
pyrelimri/__pycache__/brain_icc.cpython-38.pyc
pyrelimri/__pycache__/similarity.cpython-38.pyc
pyrelimri/__pycache__/tetrachoric_correlation.cpython-38.pyc
tests/reliability_tests.ipynb
tests/.ipynb_checkpoints/reliability_tests-checkpoint.ipynb
pyrelimri/__pycache__/brain_icc.cpython-38.pyc
pyrelimri/__pycache__/icc.cpython-38.pyc
pyrelimri/__pycache__/similarity.cpython-38.pyc
*.pyc
